body {
    color: white;
}
li {
    list-style-type: lower-alpha;
}
.body {
    display: block;
    background: rgb(88, 88, 81);
    border-radius: 10px;
    border-bottom: solid;
    border-right: solid;
    border-color: black;
    padding: 20px;
}
.bodyHide {
    display: none;
}
.container {
    margin-top: 10%;
}
.lb {
    display: block;
}
.lbHide {
    display: none;
}
.q {
    height: 350px;
}
.table {
    color:black;
}
#goHide {
    display: none;
}
#nextDiv {
    position: absolute;
    bottom: 20px;
}
#timer {
    margin-left: 20px;
    padding-right: 30px;
}